:root{ 
    background-color: bisque; 
    color:maroon; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}  
#keyword  { 
} 
#title { 
    
}
#nav_menu ul {  
    text-decoration: none;
    text-align: center; 
    list-style: none;
    position: relative;  
}  

#nav_menu ul li {  
    text-decoration: none;
    background-color: rgb(255, 168, 125) ;
    text-align: center; 
    display: block; 
    float: left; 
    width: 175px;   
} 
#nav_menu ul li a {   
    text-decoration: none; 
    color: maroon;
    padding: 1em 0;  
    width: 175px;    
    display: block; 
    text-align: center;  
    border: 1px solid black;
    background-color: rgb(255, 168, 125) 
}

#nav_menu ul ul {  
    color: maroon;
    width: 175px;   
    display: none;
    position: absolute;
    top: 100%;   
    text-align: center;
}

#nav_menu ul ul li { 
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}