:root {
    background-image: url("Images/multicolor.png") 
}

body {
    font-family: 'Megrim', cursive;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 98, 98);
    padding: .5em, .5em, 5em, .5em;
    border-radius: 10px;
}  
.colorguide { 
    height: 20%; 
    width: 20%; 
    border-radius: 100%; 
    border: 1px solid black; 
} 
#title { 
    text-decoration: none; 
    color: rgb(255, 255, 255);  
   font-size: 150%;
}
/* Navigation Menu*/

#nav_menu ul {
    width: 90%;
}


#nav_menu ul {
    text-decoration: none;
    text-align: center;
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    text-decoration: none;
    background-color: rgb(225, 98, 98);
    text-align: center;
    display: block;
    float: left;
    width: 30%;
}

#nav_menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    display: block;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(225, 98, 98)
}

#nav_menu ul ul {
    color: white; 
    display: none;
    position: absolute;
    text-align: center;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

