:root {
    background-image: url("Images/multicolor.png")
}

body {
    font-family: 'Megrim', cursive;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 98, 98);
    padding: .5em, .5em, 5em, .5em;
    border-radius: 10px;
} 

.Colorlist { 
    width: 60%;
}

/* Images*/
.colorguide {
    height: 100%;
    width: 30%;
    border-radius: 100%;
    border: 1px solid black;
}

.guilds {
    height: 100%;
    width: 30%;
    border: 1px solid black;
} 
.Deckarchetypes { 
    height: 100%; 
    width: 30%; 
    border: 1px soild white;
}

#title {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 150%;
}

/* Navigation Menu*/

#nav_menu ul {
    width: 90%;
}


#nav_menu ul {
    text-decoration: none;
    text-align: center;
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    text-decoration: none;
    background-color: rgb(225, 98, 98);
    text-align: center;
    display: block;
    float: left;
    width: 30%;
}

#nav_menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    display: block;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(225, 98, 98)
}

#nav_menu ul ul {
    color: white;
    display: none;
    position: absolute;
    text-align: center;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

#Red {
    list-style-image: url("Images/Red15.png");
}

#Blue {
    list-style-image: url("Images/Blue15.png");
}

#Green {
    list-style-image: url("Images/Green15.png");
}

#White {
    list-style-image: url("Images/White15.png");
}

#Black {
    list-style-image: url("Images/Black15.png");
}